# SQLite databases
*.db

# aapl-black-scholes
# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*